<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623746448586-f12f86h28nuv1q3v388vbh5p3nfh9dma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623746448586-f12f86h28nuv1q3v388vbh5p3nfh9dma</string>
	<key>API_KEY</key>
	<string>AIzaSyDKF-P-2xNiD_XFKq5UcGQOT6n2r4ZiQoU</string>
	<key>GCM_SENDER_ID</key>
	<string>623746448586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northeastern.RuoxinWang.LoginExampleFirebase</string>
	<key>PROJECT_ID</key>
	<string>spring2023-8a88c</string>
	<key>STORAGE_BUCKET</key>
	<string>spring2023-8a88c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623746448586:ios:7c237ec3a4411b57a54833</string>
</dict>
</plist>